<p id="notice"><%= notice %></p>

<%= image_tag @job.main_image if !@job.main_image.nil? %>

<h1><%= @job.title %></h1>
<em><%= @job.subtitle %></em>

<p>
  <strong>Body:</strong>
  <%= @job.body %>
</p>

<h2>Technologies</h2>

<ul>
  <% @job.technologies.each do |tech|  %>
    <li><%= tech.name %></li>
  <% end %>
</ul>

<%= link_to 'Back', jobs_path %> |
<%= link_to 'Edit', edit_job_path(@job) %>
